.list-post {
    font-size: 1.3rem;
    line-height: 1.4;
    display: block;
    margin-bottom: 40px;
    transition: transform 0.5s ease, background-color 0.5s ease;
    padding: 20px;
    transform: translateX(-20px);
    &:hover {
        text-decoration: none;
        transform: translateX(0);
        background-color: lighten($gray-400, 12%);
    }
    &>* {
        color: #000;
    }
    h3 {
        font-weight: 600;
        font-size: 1.9rem;
        line-height: 1.4;
        margin: 15px 0;
        span {
            color: #000 !important;
        }
    }
    .list-tag {
        color: darken($gray-400, 20%);
    }
    .list-date {
        color: darken($gray-400, 20%);
    }
    &--featured {
        padding: 60px 40px;
        background-size: cover;
        background-position: center;
        position: relative;
        transform: translateX(0);
        margin-bottom: 60px;
        min-height: 590px;
        justify-content: flex-end;
        display: flex;
        flex-direction: column;


        &>* {
            position: relative;
            color: white;
            width: 100%;
        }
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.40);
            transition: all 0.5s ease;
        }
        &:hover {
            &:before {
                background-color: rgba(0, 0, 0, 0.60);
            }
        }
        h3 {
            color: white;
            font-size: 2.3rem;
            span {
                color: white !important;
            }
        }
        .list-tag {
            color: white;
            display: inline-block;
            width: auto;
        }
        .list-date, {
            color: white;
        }

        @media (max-width: 767px){
            min-height: 570px;
        }
    }
}
.list-tag {
    font-size: 0.9rem;
    text-transform: uppercase;
    margin-right: 10px;
}
.list-meta {
    border-left: 4px solid theme-color('primary');
    padding-left: 15px;
    margin-top: 30px;
    font-size: 1rem;
    .list-author {
        font-size: 1.1rem;
        font-weight: 500;
    }
    &.nv {
        border-left: 4px solid #964122;
    }
}
.list-text-block {
    background-color: lighten($gray-400, 12%);
    font-size: 1.6rem;
    line-height: 1.4;
    padding: 25px 40px;
    padding: 15px;
    order: 2;
    margin-bottom: 60px;
}
.list-featured-col {
    display: flex;
    flex-direction: column;
    a {
        &:first-child {
            order: 1;
        }
        &:nth-child(2) {
            order: 3;
        }
    }
}

.blog-back{
    width: 40px;
    height: 40px;
    text-decoration: none;
    position: absolute;
    top: 2px;
    left: -40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    i{
        font-size: 22px;
        color: #212529;
        transition: color 0.3s ease;
    }
    &:hover{
        text-decoration: none;
        background-color: theme-color('primary');
        i{
            color: white;
        }
    }

    @media (max-width: 1199.98px) {
        top: -50px;
        left: 10px;
    }
}

.archive-post-pagination {
    .navigation.pagination {
        position: static;

        .screen-reader-text {
            display: none !important;
        }
    }
    .nav-links {
        clear: both;
        overflow: hidden;
        width: 100%;

        a,
        .page-numbers {
            font-size: 1.6rem;
            font-weight: 500;
            color: darken($gray-800, 20%);
            text-decoration: none;
            font-family: "Libre Baskerville", Baskerville, georgia, serif;
            font-style: italic;
            font-size: 1.4rem;
            margin: 20px 0 10px;
            i{
                color: theme-color('primary');
            }
        }

        > a{            
            display: inline-block;

            &:nth-child(2){
                float: right;
            }
            
            &:last-child {
                display: inline;
                .next-posts {
                    float: right;
                }
                .prev-posts {
                    float: left;
                }
            }
        }

        .page-numbers {
            display: none;            

            &.prev,
            &.next {
                display: block;
            }

            &.prev {
                float: left;
            }
            &.next {
                float: right;
            }

            .prev-posts,
            .next-posts {
                font-family: "Libre Baskerville", Baskerville, georgia, serif;
                font-style: italic;
                font-size: 1.4rem;
                margin: 20px 0 10px;
                i{
                    color: theme-color('primary');
                }
            }

            @media(max-width: 767px){
                font-size: .9rem;
            }
        } 
    }
}

.page-title {
    font-size: 2.5rem;
    font-weight: 600;
}

.btn-view {
    font-family: "Libre Baskerville",Baskerville,georgia,serif;
    font-style: italic;
    font-size: 1.4rem;
    margin: 20px 0 10px;
    color: #212529;
    i{
        color: theme-color('primary');
    }
    &:focus,&:hover {
        color: #212529;
        text-decoration: none;
    }
    @meida (max-width: 767px){
        font-size: .9rem;
    }
}