.header-section{
    max-width: 520px;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
	img.logo{
	    width: 120px !important;
		height: 60px;
	}
	a{
	    white-space: nowrap;
	    font-size: 16px;
	}
	@media (max-width: 768px){
		max-width: 100%;
	}
}
.main-content{
	position: relative;
	.contentLeft{
		max-width: 550px;
		padding: 0px;
		.body-text {
			font-size: 16px;
			padding: 0 15px;
			@media (min-width: 992px){
				font-size: 1.3rem;
			}
			@media (max-width: 991px) and (min-width: 768px){
				font-size: 1.1rem;
			}
		}
		.intro-text{
		    font-size: 1.6rem;
			line-height: 2.7rem;
			font-weight: 700;
			padding: 8rem 15px 5rem;
		    white-space: break-spaces;
	        color: #212529;
			.clutch{
			    display: inline-block;
			    position: relative;
			    cursor: pointer;
			    -webkit-user-select: none;
			    -moz-user-select: none;
			    -ms-user-select: none;
			    user-select: none;
			    color: #000;
				.clutch-open{
					overflow: hidden;
					-webkit-transition: all .35s;
					transition: all .35s;
					height: 3px;
					background-color: #4aa751;
					z-index: -1;
					position: absolute;
					bottom: -1px;
					width: 100%;
				}
			}
		}
		.product-title{
			font-size: 34px;
    		line-height: 1.4;
		}
		.product-content{
			h4{
				color: #212529;
			    font-weight: normal;
			    font-size: 17px;
			}
		}
		.product-price{
			font-weight: 600;
			font-size: 2.125rem;
		}
		.product-image{
		    opacity: 0;
		    visibility: hidden;
		    transition: opacity 1s ease;
		    -webkit-transition: opacity 1s ease;
		    &.slick-initialized {
		        visibility: visible;
		        opacity: 1;  
		    }
		}
		.slick-list {
		    padding-left: 0px!important; // half partial
		}

		.aj-home-title{
		    font-size: 2.5rem;
			margin: auto;
			font-style: italic;
			text-transform: lowercase;
			font-family: Libre Baskerville,Baskerville,georgia,serif !important;
		}
		.btn-add-to-cart{
			font-size: 25px;
			font-weight: 600;
		    cursor: pointer;
			@media (max-width: 767px){
				font-size: 20px;
			}
		}
		.coming-soon{
		    font-size: 20px;
		    margin: auto;
		    font-style: italic;
		    text-transform: lowercase;
		    padding-top: 30px;
		    padding-bottom: 30px;
		    font-weight: 600;
		    font-family: Libre Baskerville,Baskerville,georgia,serif !important;
		}
		.footer-section{
			padding: 2rem 0 3rem;
			.contact-details{
				a{
					font-size: 20.4px;
					&:hover{
						color: #4aa751;
					}
				}
				h4{
					font-size: 20.4px;
				}
				@media (min-width: 992px){
					margin: 25px 0;
				}
			}
		}
		@media (max-width: 768px){
			max-width: 100%;
		}
	}
}
.contentRight{
	position: fixed;
	left: 550px;
	right: 0;
	top: 0;
	bottom: 0;
	display: block;
	.full-slider{
		height: 100%;
		img{
			width: 100%;
			height: auto;
			@media (max-width: 1600px) {
				height: 100%;
				object-fit: cover;
			}
		}
		.slick-list{
			height: 100%;
			.slick-track{
				height: 100%;
				.slick-slide {
					margin-left: 0;
				}
			}
		}
		.slick-dots{
			bottom: 40px;
			li{
				button{
					&::before{
						font-size: 18px;
						opacity: 0.45;
					}
				}
				&.slick-active{
					button{
						&::before{
							font-size: 18px;
							opacity: 0.85;
						}
					}
				}
			}
		}
	}
	.main-image{
		background-size: cover;
		background-repeat: no-repeat;
		background-image: url(https://greengrainbowl.com/wp-content/uploads/sites/14/2020/06/front_banner_2.jpg);
		height: 100%;
		&.main-child-2{
			background-image: url(https://greengrainbowl.com/wp-content/uploads/sites/14/2020/06/front_banner_1.jpg);
		}
	}
	@media (max-width: 768px){
		display: none;
	}
}