.location-icon{
    display: inline-block;
    background: #4aa751;
    color: #fff;
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 1px;
    border-radius: 50%;
    i{
        //font-size: 10px;
    }
    &:hover, &:focus{
        background: #4aa751;
        color: #fff;
    }
}

#selected-location-address{    
    position: absolute;
    right: 15px;
    left: 15px;
    top: 100%;
    display: none;
    >div{
        padding: 15px;
        padding-right: 50px;
        background: #EEEFEE;
    }
    &.show{
        display: block;
    }
    @media (max-width: 992px) {
        min-width: 320px;
        width: 100%;
        left: 0;
    }
}

.menu-toggle{
    min-width: 11px;
}

.cart-icon{
    a{
        display: inline-block;
        background: #4aa751;
        color: #fff;
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 5px;
        border-radius: 50%;
        position: relative;
        i{
            font-size: 15px;
        }
    }
}

// .cart-count{
//     position: absolute;
//     right: -5px;
//     top: 18px;
//     border: 1px solid #4aa751;
//     border-radius: 50%;
//     color: #4aa751;
//     width: 20px;
//     height: 20px;
//     font-size: 10px;
//     background: #fff;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     padding: 2px;
// }

.delivery-location{
    @media (min-width: 992px) {
        position: relative;
        #selected-location-address{
            position: absolute;
            right: 15px;
            left: 30px;
            top: -10px;
            width: 400px;
            z-index: 1;  

        }
        &:hover{
            #selected-location-address{
                display: block!important;
            }
        }
    }    
}

#selected-location-address{
    margin-top: 7px;
    &:after{        
        @media (max-width: 991px) {
            content: '';
            position: absolute;
            left: 5px;
            top: -9px;
            width: 0;
            height: 0;
            clear: both;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;  
            border-bottom: 10px solid #eeefee;
        }    
        @media (min-width: 768px) and (max-width: 991px) {
            left: 19px;
        }   
    }
    @media (min-width: 992px) {
        margin-top: 0;
    }
}

.number-edit{
    //position: absolute;
    //top: 50%;
    //right: 15px;
    //transform: translateY(-50%);
    color: #fff;
    background: #4aa751;
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;
}

.push{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99999;
    background-color: rgba(0,0,0,.5);
    &-note{
        width: 500px;
        margin: 0 auto;
        background: #fff;
        padding: 15px;
        @media (max-width: 520px) {
            width: 100%;
        }
    }
}

.header-location{
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1;
}