.msg-container{
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    > .container{
        @media (max-width: 991px) {
            padding-left: 0;
            padding-right: 0;
        }
    }
    #react-view-cart-container{
        @media (max-width: 991px) {
            width: 100%;
            position: relative;
        }
    }
    @media (min-width: 992px) {
        bottom: 40px;
        right: 85px;
        left: auto;
        width: auto;
        .failure, .success{
            max-width: 410px;
            width: 100%;
        }
    }
}

#react-view-cart-container{
    .view-cart-holder{
        background: #4aa751;
        border-color: #4aa751;
        padding: 15px;
        color: #fff;
        display: flex;
        justify-content: space-between;
        &.empty-cart{
            a{
                @media (min-width: 992px) {
                    background-color: transparent;            
                }    
            }
            @media (max-width: 991px) {
                //justify-content: center;
                a{
                    i{
                        color: #fff!important;
                        position: relative;
                        z-index: 1;
                    }
                }
            }
        }
        @media (min-width: 992px) {
            background: #fff;
            border: 2px solid #4aa751;
            border-radius: 50%;
            width: 90px;
            height: 90px;
            position: relative;
            margin-left: auto;
            margin-right: 0;
            -webkit-box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.25);
            -moz-box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.25);
            box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.25);
            cursor: pointer;
            -webkit-animation: in 1.5s infinite ease-out;
            animation: in 1.5s infinite ease-out;
            justify-content: center;
            align-items: center;
        }
        @media (max-width: 991px) {
            &:before{
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: rgba(74,167,79,1);
                background: linear-gradient(-45deg,#035415,#609a63,#4a9a4f,#207b23 75%);
                background-size: 400% 400%;
                animation: gradient-glower 5s ease infinite;
            }
        }
    } 
    .cart-count{
        @media (min-width: 992px) {
            font-size: 14px;
            position: absolute;
            right: -8px;
            color: #fff;
            width: 30px;
            height: 30px;
            background: #4aa751;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            top: -5px;
        }    
    }
     #view-cart-btn{
        @media (min-width: 992px) {
            color: #000;
            cursor: pointer;
            text-align: center;
            font-weight: 500;
            position: relative;
            // top: 9px;
            font-size: 16px;
            line-height: 20px;
        }
     }  
}

.success.toast{
    background: #ecf6ec;
    color: #4aa751;
    @media (min-width: 992px) {
        font-size: 18px;
        background: #fff;
        color: #000;
        max-width: 320px;
        margin-left: auto;
    }
}

.failure.toast{
    background: #ecf6ec;
    @media (min-width: 992px) {
        font-size: 18px;
        background: #fff;
        color: #000;
        max-width: 320px;
        margin-left: auto;
    }
}

.p-15{
    padding: 15px;
}

.custom-col-3{
    @media (min-width: 1600px) {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

.text-line {
    height: 25px;
    width: 100%;
    @extend .animated-background;
}

.animated-background {
    animation-duration: 1.25s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #F6F6F6;
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
    background-size: 800px 104px;
    height: 25px;
    position: relative;
}

// Animation
@keyframes placeHolderShimmer{
    0%{
        background-position: -100% 0
    }
    100%{
        background-position: 100% 0
    }
}

.close-img{
    position: absolute;
    right: -20px;
    top: -18px;
    @media (max-width: 991px) {
        right: -7px;
    }
}

@keyframes in {
    0% {
        box-shadow: 0 0 0 0 #247524
    }
 
    100% {
        box-shadow: 0 0 0 20px rgba(36, 117, 36, 0.35)
    }
}

.app-log{
    max-width: 85px;
}

.cart-wrapper{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: 1200;
    padding: 0;
    transform: translate(500px, 0px);
    transition: all 0.3s ease;
    width: 410px;
    padding-bottom: 52px;
    background: #fff;
  }
  .cart-wrapper.active{
    transform: translate(0,0);
  }

  .cursor-pointer{
    cursor: pointer;
  }

  .gbb-original-price{
    font-size: 80%;
    text-decoration: line-through;
    font-weight: 400;
    margin-left: 5px;
    margin-right: 5px;
  }

  .gbb-discount {
    font-size: 80%;
    font-weight: 400;
  }

  .cart-app-loader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
  }

  .saved-address-item {
    white-space: normal;
    text-align: left;
  }

  @media (max-width: 480px){
    .cart-wrapper{
      width: 100%;
    }
  }

  .custom-modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}  

.price-span{
    display: inline-block;
    min-width: 100px;
}

.line-animation {
    position: relative;
    width: 20px;
    height: 2px;
    background-color: #4aa751;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {left: 0;}
    50% {left: 100%}
    100% {left: 0;}
}

/* Standard syntax */
@keyframes example {
    0%   {left: 0;}
    50% {left: 100%}
    100% {left: 0;}
}


.vc_row.wpb_row.vc_row-fluid.main-row{
    display: flex;
}

.left-content.wpb_column{
    width: 35%;
    padding-right: 32px;
}
  
.right-content.wpb_column {
    width: 65%;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    padding-left: 50px;
}

.main-post-img img{
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100vh;
}
 
#footer section{
    width: 40%;
    .container {
        &.p5{
            @media (min-width: 992px) and (max-width: 1399.98px) {
                padding-left: 15px;
            }
        }
    }
}
    
@media (max-width: 991px){
    .vc_row.wpb_row.vc_row-fluid.main-row{
        display: block;
    }
    .left-content.wpb_column{
       width: 100%;
       padding-right: 0;
    }
    .main-post-img{
        display: none;
    }
    .right-content.wpb_column{
        display: none !important;
    }
    #footer section{
        width: 100%;
    }
}