.ajency-portfolio {
    position: absolute;
    right: 10px;
    opacity: 0;
    transition: all 0.5s ease;
    width: 40vw;
    img {
        width: 100%;
    }
    @media (min-width: 320px) and (max-width: 767.98px) {
        display: none;
    }
    @media (min-width: 768px) and (max-width: 1199.98px) {
        display: none;
    }
}
.portfolio-1 {
    top: 100px;
}
.portfolio-2 {
    top: 130px;
}
.portfolio-3 {
    top: 270px;
}
.portfolio-4 {
    top: 340px;
}
.items {
    cursor: pointer;
    .site-name {
        display: inline-block;
        cursor: pointer;
        h5 {
            border-bottom: 2px solid #fff;
            display: -webkit-inline-box;
            padding-bottom: 4px;
        }
        &:hover {
            h5 {
                border-bottom: 2px solid #4aa751;
            }
            .aj-our-work {
                opacity: 0;
            }
            .ajency-portfolio {
                z-index: 9999999;
                opacity: 1;
            }
            .portfolio-1 {
                top: 0px;
            }
            .portfolio-2 {
                top: 0px;
            }
            .portfolio-3 {
                top: 0px;
            }
            .portfolio-4 {
                top: 0px;
            }
            ~.aj-our-work {
                opacity: 0px;
            }
        }
    }
}
.our-work {
    .items {
        width: 26vw;
        @media (min-width: 320px) and (max-width: 767.98px) {
            width: 100%;
        }
        @media (min-width: 768px) and (max-width: 1199.98px) {
            width: 100%;
        }
    }
}
.card-title {
    font-style: italic;
    font-family: "Libre Baskerville", Baskerville, georgia, serif!important;
    letter-spacing: .1rem;
    color: aquamarine;
    @media (min-width: 768px) and (max-width: 1199.98px) {
        font-size: 1.7rem;
    }
}
.text-overlay {
    height: 300px;
    @media (min-width: 320px) and (max-width: 767.98px) {
        height:125px;
        h1 {
            width: 90%!important;
            font-size: 1.1rem;
        }
    }
}
@media (min-width: 320px) and (max-width: 1199.98px) {
    .aj-engineering {
        .scroll-left { 
            display: block;
            opacity: 1;
            width: 100%;
            top: 0px;
            position: fixed;
            margin: auto;
            left: 0px;
            overflow-y: scroll;
            height: 100%;
            right: -2400px;
            background: #fff;
            transition: all 0.5s ease;
            z-index: 9999;
            padding-top: 60px;
            img {
                width: 100%;
            }
            .fixed-header {
                position: fixed;
                width: 100%;
                z-index: 9999;
                background: #ffff;
                margin: 0px;
                top: 0px;
                padding: 13px 6px;
            }
        }
    }
    .active {
        right: 0px!important;
    }
}
.mobile-slick {
    background: #f9f9f9;
    .slick-slide {
        margin: auto;
        margin-top: 0px !important;
    }
    .slick-arrow {
        position: absolute;
        top: 15px;
        background: #fff;
        padding: 7px;
        width: 80px;
        border-radius: 30px;
    }
    .slick-next {
        right: 10px;
    }
    .slick-prev {
        display: none !important;
    }
}
@media (min-width: 320px) and (max-width: 1199.98px) {
    .items {
        position: relative;
        .text-black {
            width: 90%;
            display: block;
        }
    }
    .items:before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f078";
        position: absolute;
        right: 10px;
        top: 27%;
        font-size: 20px;
        color: #4aa751;
        transition: all .3s ease;
        transform: rotate(-90deg)
    }
}
.num-terms-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    -webkit-transition: .2s ease-in;
    transition: .2s ease-in;
    cursor: pointer;
    .num {
        color: #F0C60A;
        font-size: 36px;
        font-weight: 500;
        margin-top: 2px;
        text-align: left;
        display: inline;
        line-height: 1;
        @media (min-width: 320px) and (max-width: 767.98px) {
            margin-bottom: 20px;
        }
    }
    .term {
        .term-title {
            color: #181820;
            font-size: 36px;
            font-weight: 500;
            line-height: 1.24;
            letter-spacing: -.8px;
            vertical-align: bottom;
            @media (min-width: 992px) and (max-width: 1399.98px) {
                font-size: 29px;
            }
        }
        .term-desc {
            padding-top: 33.5px;
            color: #595960;
            font-size: 18px;
            line-height: 1.67;
        }
    }
    &:hover {
        background-color: #f9f9fb;
    }
}
.aj-services {
    .display-1 {
        position: absolute;
        opacity: .1;
        top: -87px;
        left: 14px;
        font-size: 12rem;
    }
}

.grid2{
    @media (min-width: 1200px){
        .card-main-wrap{
            // max-width: 800px;
            margin: auto;
            overflow: hidden;
        }
        .card-wrapper{
            height: 100%;
            background-color: #f8f8f8;
        }
        .card-front{
            position: relative;
            // height: 790px;
            height: 53vw;
            max-height: 986px;
            display: block;
            margin: 0;
            transition: all 0.3s;
            &.active{
                // height: 55vw;
                // height: 790px;
                // margin: 0 -15px;
                .card-wrapper{
                    // height: auto;
                    // background-color: transparent;
                }
            }
            > .col-6{
                max-width: 100%;
                transform: scale(0.49);
                position: absolute;
                top: 0;
                left: 0;
                transition: transform 0.3s;
                cursor: pointer;
                height: 34.5vw;
                max-height: 1650px;
                padding: 0;
                // height: 1170px;
                // padding: 15px;
                img{
                    max-width: 100%;
                }
                .logocard{
                    transition: all 0.3s;
                    transform: translateY(0);
                    opacity: 1;
                    // max-height: 800px;
                    // overflow: hidden;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        transform: scale(1.3);
                        transition: all 0.3s;
                    }
                }
                .expanded{
                    transition: all 0.3s;
                    // transform: translateY(-1500px);
                    opacity: 0;
                    width: 100%;
                    top: 0;
                    left: 0;
                    position: absolute;
                    height: 100%;
                    // max-height: 0;
                    // overflow: hidden;
                    img{
                        // width: 100%;
                    }
                }
                &:nth-child(1){
                    transform-origin: 0 0;
                }
                &:nth-child(2){
                    transform-origin: 100% 0;
                }
                &:nth-child(3){
                    transform-origin: 0 102%;
                }
                &:nth-child(4){
                    transform-origin: 100% 102%;
                }
                &:nth-child(5){
                    transform-origin: 0 204%;
                }
                &:nth-child(6){
                    transform-origin: 100% 204%;
                }

                &.active{
                    z-index: 1;
                    transform: scale(1) translateY(0);
                    padding: 0;
                    // height: 790px;
                    height: 58vw;
                    max-height: 806px;
                    .logocard{
                        // transform: translateY(460px);
                        opacity: 0;
                        // max-height: 0;
                        img{
                            transform: scale(0);
                        }
                    }
                    .expanded{
                        // transform: translateY(-980px);
                        // transform: translateY(-56vw);
                        opacity: 1;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        // max-height: 800px;
                    }
                }
                &.not-active{
                    transform: scale(0);
                }
            }
        }
    }


    @media (max-width: 1199px){
        .card-front{
            padding: 0 5px;
            > .col-6{
                padding-right: 0.5em;
                padding-left: 0.5em;
            }
        }
        .card-wrapper{
            margin-bottom: 1em;
            background-color: #f8f8f8;
            img{
                max-width: 100%;
            }
            .expanded{
                display: none;
            }
            .logocard{
                padding: 0.5em;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    @media (min-width: 1800px){
        .card-front{
            max-height: 826px;
            > .col-6{
                height: 28vw;
                &.active{
                    // height: 1056px;
                    max-height: 826px;
                    .expanded{
                        // transform: translateY(-1055px);
                    }
                }
            }
        }
    }
    @media (min-width: 1200px) and (max-width: 1400px){
        .card-front{
            height: 67vw;
            > .col-6{
                height: 44vw;
                &.active{
                    height: 67vw;
                    max-height: 1056px;
                    .expanded{
                        // transform: translateY(-1055px);
                    }
                }
            }
        }
    }
}

.grid3{
    @media (min-width: 1200px){
        .card-main-wrap{
            // max-width: 800px;
            margin: auto;
            overflow: hidden;
        }
        .card-wrapper{
            height: 100%;
            background-color: #f8f8f8;
        }
        .card-front{
            position: relative;
            // height: 790px;
            height: 55vw;
            max-height: 986px;
            display: block;
            margin: 0;
            transition: all 0.3s;
            &.active{
                // height: 55vw;
                // height: 790px;
                // margin: 0 -15px;
                .card-wrapper{
                    // height: auto;
                    // background-color: transparent;
                }
            }
            > .col-4{
                max-width: 100%;
                transform: scale(0.32);
                position: absolute;
                top: 0;
                left: 0;
                transition: transform 0.3s;
                cursor: pointer;
                height: 84vw;
                max-height: 1650px;
                padding: 0;
                // height: 1170px;
                // padding: 15px;
                img{
                    max-width: 100%;
                }
                .logocard{
                    transition: all 0.3s;
                    transform: translateY(0);
                    opacity: 1;
                    // max-height: 800px;
                    // overflow: hidden;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        transform: scale(2);
                        transition: all 0.3s;
                    }
                }
                .expanded{
                    transition: all 0.3s;
                    // transform: translateY(-1500px);
                    opacity: 0;
                    width: 100%;
                    top: 0;
                    left: 0;
                    position: absolute;
                    height: 100%;
                    // max-height: 0;
                    // overflow: hidden;
                    img{
                        // width: 100%;
                    }
                }
                &:nth-child(1){
                    transform-origin: 0 0;
                }
                &:nth-child(2){
                    transform-origin: 50% 0;
                }
                &:nth-child(3){
                    transform-origin: 100% 0;
                }
                &:nth-child(4){
                    transform-origin: 0 49%;
                }
                &:nth-child(5){
                    transform-origin: 50% 49%;
                }
                &:nth-child(6){
                    transform-origin: 100% 49%;
                }

                &.active{
                    z-index: 1;
                    transform: scale(1) translateY(0);
                    padding: 0;
                    // height: 790px;
                    height: 55vw;
                    max-height: 986px;
                    .logocard{
                        // transform: translateY(460px);
                        opacity: 0;
                        // max-height: 0;
                        img{
                            transform: scale(0);
                        }
                    }
                    .expanded{
                        // transform: translateY(-980px);
                        // transform: translateY(-56vw);
                        opacity: 1;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        // max-height: 800px;
                    }
                }
                &.not-active{
                    transform: scale(0);
                }
            }
        }

    }


    @media (max-width: 1199px){
        .card-front{
            padding: 0 5px;
            > .col-4{
                padding-right: 0.5em;
                padding-left: 0.5em;
            }
        }
        .card-wrapper{
            margin-bottom: 1em;
            background-color: #f8f8f8;
            img{
                max-width: 100%;
            }
            .expanded{
                display: none;
            }
            .logocard{
                padding: 0.5em;
            }
        }
    }

    @media (min-width: 1800px){
        .card-front{
            max-height: 806px;
            > .col-4{
                height: 64vw;
                &.active{
                    // height: 806px;
                    max-height: 806px;
                    .expanded{
                        // transform: translateY(-1055px);
                    }
                }
            }
        }
    }
    @media (min-width: 1200px) and (max-width: 1400px){
        .card-front{
            height: 66vw;
            > .col-4{
                height: 101vw;
                &.active{
                    height: 66vw;
                    max-height: 1056px;
                    .expanded{
                        // transform: translateY(-1055px);
                    }
                }
            }
        }
    }
}