/*@media(max-width: 767px){*/
  body{
    -webkit-overflow-scrolling: touch;
    // scroll-snap-type: y mandatory; 
    scroll-padding: 20px;
    & > div, & > section{
       scroll-snap-align: start;
       scroll-snap-stop: normal; 
    }
  }
/*}*/
.product-section{
    font-family:"Work Sans", sans-serif;
}
.product{
    &-list{
        margin: 0 -10px;
        &-item{
            padding: 0 10px;
            display: flex;
            scroll-snap-align: start;
            scroll-snap-stop: always;
           /* @media (min-width: 992px) {
                padding: 1px !important;
                overflow: hidden;
            }*/
            /*@media (max-width: 991px) {*/
                margin-bottom: 60px;
                overflow: hidden;
            /*}*/
        }
       /* @media (min-width: 992px) {
            margin: 0 -16px !important;
            overflow: hidden;
        }
        @media (max-width: 767px) {*/
            overflow: auto;
            // scroll-behavior: smooth;
            // -webkit-overflow-scrolling: touch;
        /*}*/
    }
    &-wrapper{
        
        background: #fff;
        border-radius: 6px;
        width: 100%;
        .slick-slide{
            margin: 0 !important;
        }
        .slick-dots{
            bottom: 20px;
            text-align: left;
            display: block;
            z-index: 2;
        }
    }
    &-quantity{
        .minus{
            border-top-left-radius: 4px !important;
            border-bottom-left-radius: 4px !important;
        }
        .plus{
            border-top-right-radius: 4px !important;
            border-bottom-right-radius: 4px !important;
        }
        .input-text {
            width: 85px;
            margin: 0 -5px;
            background: transparent;
            border: 1px solid #fff;
            text-align: center;
            color: #fff;
        }
    }
    &-size{
        margin-top: 10px;
    }
    &-image{
        margin-bottom: 0!important;
        position: relative;
        img{
            width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
            -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.3);
            -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.3);
            box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.3);
            /*@media (min-width: 992px) {
                transform: scale(1.2);
                transition: transform 2.2s ease;
            }*/
        }
/*        @media (min-width: 992px) {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }*/
    }
    &-info{        
/*        @media (min-width: 992px) {
            position: absolute;
            left: 0;
            width: 100%;
            z-index: 2;
            padding-left: 25px !important;
            padding-right: 25px !important;
            &.normal-text{
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                transform: translateY(0);

                .content-center {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            &.hover-text{
                bottom: -100%;
            }
        }*/
      /*  @media (min-width: 992px) and  (max-width:1199px){
            padding-left: 15px !important;
            padding-right: 15px !important;
        }*/
    }
    &-meta{
        align-items: center;
        justify-content: space-between;
    }
    &-title{
        margin-top: 15px;
        margin-bottom: 7.5px;
        @media (max-width: 991px){
            font-size: 18px;
            margin-top: 10px;
        }
    }
    &-excerpt{
        margin-bottom: 20px;
       /* @media (min-width: 992px){
            font-size: 15px;
            font-weight: 600 !important;
            line-height: 20px;
        }
        @media (min-width: 992px) and  (max-width:1199px){
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }*/
/*        @media (max-width: 991px){       */     
            font-size: 13px;
            font-weight: 400 !important;
            line-height: 18px;
       /* }*/
    }
    &-availability {
        position: relative;
        bottom: 15px;
        left: 0;
        background: #fff;
        padding: 6px 15px 6px 25px;

        .availability-text {
            color: #212529;
            font-size: 1.0625rem;
            margin: 0;
            line-height: normal;
        }
        &.coming_soon {
            background-color: #f0c60b;
            color: #000;
        }
    }
    &-badge {
        background-color: theme-color('primary');
        color: #fff;
        font-size: 0.875rem;
        padding: 8px 10px;
        text-align: center;
        font-weight: 500;
        //position: absolute;
        //z-index: 2;
        //right: 0;

        &.coming_soon {
            background-color: #f0c60b;
            color: #000;
        }

        @media (min-width: 767px) and (max-width: 991px){
            font-size: 0.875rem;
        }

        @media (min-width: 991px){
            display: none;
        }        
    }
    &-add-to-cart-wrap {
        label {
            span {
                
            }
        }
    }
}

.product-image .item {
    display: none;
}
.product-image .item:first-child {
    display: block;
}
.product-image.slick-initialized .item {
    display: block;
}



.product-content{
/*    @media (min-width: 992px) {
        opacity: 0;
        transition: opacity 0.2s, transform 1.8s ease;
        transform: translate3d(0,60px,0);
    }*/
}

.product-wrapper{
    position: relative;

    .product-price{
      /*  @media (min-width: 992px) {
            font-size: 30px;
            .symbol {
                font-size: 27px;
            }
        }*/
        .symbol {
            font-size: 30px;
        }
        
        del {
            font-size: 25px;
            font-weight: 400;
            margin-left: 10px;
            color: #eee;
            span {
                font-size: 23px;
            }
           /* @media (max-width: 991px) {*/
                color: #999999;
            /*}*/
        }
    }
    .product-image{
        @media (min-width: 992px) {
            /*overflow: hidden;
            &:before{
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                content: "";
                display: block;
                z-index: 1;
                width: 100%;
                height: 100%;    */
                // background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.5) 100%));
                // background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
                // background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
                // background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
                // background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 56%, rgba(0, 0, 0, 0.5) 100%);
                /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+40,000000+100 */
               /* background: rgba(255, 255, 255, 0.1); *//* Old browsers */
                /*background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.1) 40%, #000000 100%);*/ /* FF3.6-15 */
                /*background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 40%,#000000 100%);*/ /* Chrome10-25,Safari5.1-6 */
                /*background: linear-gradient(to bottom,  rgba(255, 255, 255, 0.1) 40%,#000000 100%);*/ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );*/ /* IE6-9 */

            /*}
            &:after{
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                content: "";
                display: block;
                z-index: 2;
                width: 100%;
                height: 100%;
                background: #66B578;
                transition: all 0.5s ease;
            }*/
        }
    }
    .react-add-to-cart-container{
       /* @media (min-width: 992px) {
            pointer-events: visible;
        }*/
    }
    &:hover{
        .product-content{
            /*@media (min-width: 992px) {
                opacity: 1;
                transform: translate3d(0,0,0);
                transition-duration: 0.35s;            
            }*/
        }
        .product-info{
            h3{
               /* @media (min-width: 992px) {
                    //transform: translate3d(0,0,0);
                    transition-duration: 0.35s;            
                }*/
            }
        }
        .product-image{
            &::after{
                top: 100%;
                bottom: -100%;
            }
            /*@media (min-width: 992px) {
                &:hover{
                    img{
                        @media (min-width: 992px) {
                            transform: scale(1);
                        }
                    }
                }
            }*/
        }
       /* @media (min-width: 992px) {
            .normal-text{
                transform: translateY(100%);
                transition-duration: 0.35s;
            }
            .hover-text{
                bottom: 25px;
                transition-delay: 0.2s;
                transition-duration: 0.35s; 
            }
        }*/
    }
}

.currency-symbol{
    font-size: 14px;
    margin-right: 2px;
}

.cardend{
    opacity: 0 !important;
}