.tab-panels{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.tab{
    position: relative;
    display: inline-block;
    padding: 15px 0 25px 0;
    border: 1px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 300;
    cursor: pointer;
    font-size: 26px;
    color: #ced4da;;
    margin-right: 15px;
}
.panels{
    width:100%;
}
.panel{
    display: none;
    overflow-y: hidden;
    animation: fadein .8s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.radio{
    display:none;
}
#one:checked ~ .panels #product-1CG6P1slxnr9TSNnPzvZ,
#two:checked ~ .panels #product-8FVGmVx4JjQZRUsxtYrL,
#three:checked ~ .panels .coming-soon,
#four:checked ~ .panels .coming-soon,
#five:checked ~ .panels .coming-soon,
#six:checked ~ .panels .coming-soon{
  display:block;
}


#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab,
#four:checked ~ .tabs #four-tab,
#five:checked ~ .tabs #five-tab,
#six:checked ~ .tabs #six-tab{
    color: #000;
    font-weight: 600;
    &:after{
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 10px;
        width: 50%;
        height: 2px;
        background: #4aa751;
    }
}

.tabs{
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    width: 450px;
    &::-webkit-scrollbar {
        display: none;
    }
    @media (max-width: 768px){
        width: 100%;
    }
}