@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Medium.eot');
    src: url('../fonts/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-Medium.woff2') format('woff2'),
        url('../fonts/FuturaPT-Medium.woff') format('woff'),
        url('../fonts/FuturaPT-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Bold.eot');
    src: url('../fonts/FuturaPT-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-Bold.woff2') format('woff2'),
        url('../fonts/FuturaPT-Bold.woff') format('woff'),
        url('../fonts/FuturaPT-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Light.eot');
    src: url('../fonts/FuturaPT-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-Light.woff2') format('woff2'),
        url('../fonts/FuturaPT-Light.woff') format('woff'),
        url('../fonts/FuturaPT-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Futura PT Demi';
    src: url('../fonts/FuturaPT-Demi.eot');
    src: url('../fonts/FuturaPT-Demi.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-Demi.woff2') format('woff2'),
        url('../fonts/FuturaPT-Demi.woff') format('woff'),
        url('../fonts/FuturaPT-Demi.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: 'Futura PT Book';
    src: url('../fonts/FuturaPT-Book.eot');
    src: url('../fonts/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-Book.woff2') format('woff2'),
        url('../fonts/FuturaPT-Book.woff') format('woff'),
        url('../fonts/FuturaPT-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Work Sans', sans-serif;
}
.body-text{
    font-size: 1.75rem;
    /*letter-spacing: .2px;*/
    line-height: 1.428;
    &.small-laptop-text {
        @media (min-width: 992px) and (max-width: 1450px)  {
            font-size: 1.2rem;
        }
        @media (max-width: 767px) {
            font-size: 1.2rem;
        }
    }
    @media (min-width: 320px) and (max-width: 767.98px) {
        font-size: 1.375rem;
    	.font-weight-bold{
    		font-size: 1.6rem;
    	}
    }
}

.font-size{
    &-13{
        font-size: 13px;
        line-height: 15px;
    }
    &-15{
        font-size: 15px;
        line-height: 20px;
    }
    &-16{
        font-size: 16px;
        line-height: 23px;
    }
    &-18{
        font-size: 18px;
        line-height: 23px;
    }
    &-24{
        font-size: 24px;
        line-height: 31px;
    }
    &-25{
        font-size: 25px;
        line-height: 31px;
    }
}
