@import "_var";
@import "bootstrap/bootstrap";
@import "_header";
@import "_home";
@import "_portfolio";
@import "_work_portfolio";
@import "_type";
@import "_button";
@import "_input";
@import "_misc";
@import "_custommodal";
@import "_helper";
@import "_blog";
// @import "_post";
@import "_product";
@import "_setdeliverylocation";
@import "_slidein";
@import "slick";
@import "_default";
@import "_global";